@charset "utf-8";
/* CSS Document */

header {
  background-color:aqua;
    opacity: 50%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    margin: 0px;
       }

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}
.yo {
	width: 100px;
	height: 100px;
}
img {
	padding-left: 100px;
	padding-top: 100px;
}